# Node modules
node_modules/

# MacOS files
.DS_Store
Thumbs.db

# IntelliJ
*.iml
.idea
out

# Sublime text editor files
*.sublime*

# Ignore log files
*.log

# Ignore Adobe files
*.psd
*.ai

# Ignore css files cause use preprocessors
css/*.css